# Docker Compose project name
COMPOSE_PROJECT_NAME=baize-flow

# Frontend Nginx image
BAIZE_FLOW_IMAGE=weifuwan/baize-flow:1.0.0

# Backend Spring Boot image
BAIZE_FLOW_API_IMAGE=weifuwan/baize-flow-api:1.0.0

# Browser access address:
# http://localhost:9001
BAIZE_FLOW_PORT=9001


# =========================
# MySQL
# =========================

MYSQL_ROOT_PASSWORD=seatunnel_root_password
MYSQL_DATABASE=baize_flow
MYSQL_USER=seatunnel
MYSQL_PASSWORD=seatunnel_password

# MySQL address used inside the Docker network.
# Do not change this to localhost.
MYSQL_HOST=mysql
MYSQL_PORT=3306

# MySQL port exposed on the host.
# Use 3306 because the local 3306 port is already occupied.
MYSQL_HOST_PORT=3306


# =========================
# JVM
# =========================

JAVA_OPTS=-Xms512m -Xmx1024m

# Additional Spring Boot arguments
APP_OPTS=


# =========================
# Security
# =========================

# Used to encrypt datasource passwords with AES-GCM.
# Generate a new value before production deployment.
BAIZE_FLOW_DATASOURCE_MASTER_KEY=replace_with_a_random_32_byte_secret_key